<!DOCTYPE html>
<html
  lang="vi"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public</title>

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Styles CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <div id="main-content">
      <!-- Content -->
      <div th:replace="~{fragments/public/__${page}__ :: content}"></div>
    </div>

    <!-- <script src="/js/public/loginRegisterEvent.js" type="module"></script> -->
  </body>
</html>
