@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.confirmation {
  //   position: fixed;
  //   transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px 26px;
  border: 5px solid $primary-color;
  border-radius: 14px;

  &__info {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }

  &__image {
    @include size(60px);
  }

  &__content {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 700;
  }

  &__buttons {
    margin-top: 32px;
    @include flexCenter();
    gap: 24px;
  }

  &__button.close {
    background: #ccc;
    border-color: #ccc;
  }

  &__button.close:hover {
    background: #fff;
    color: #ccc;
  }
}
